@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 154, 205, 247;
  --background-end-rgb: 154, 205, 247;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 154, 205, 247;
    --background-end-rgb: 154, 205, 247;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  /* @apply font-sans; */
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@keyframes rollIn {
  from {
    opacity: 0;
    transform: translateX(-100%) rotate(-360deg);
  }

  to {
    opacity: 1;
    transform: translateX(0) rotate(0deg);
  }
}

.roll-in {
  animation: rollIn 1s ease-out forwards;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}