@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 60, 179, 113;
  --background-end-rgb: 229, 229, 229;
  /* --background-end-rgb: 234, 229, 217; */
  /* --white-rgb: 255, 255, 255;
  --gray-rgb: 102, 102, 102;
  --black-rgb: 0, 0, 0;
  --beige-rgb: 245, 245, 220;
  --off-white-rgb: 248, 248, 248; */
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 35, 37, 38;
    --background-end-rgb: 35, 37, 38;
    --white-rgb: 255, 255, 255;
    --gray-rgb: 102, 102, 102;
    --black-rgb: 0, 0, 0;
    --beige-rgb: 245, 245, 220;
    --off-white-rgb: 248, 248, 248;
    --blue-rgb: 154, 205, 247;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom,
      transparent,
      /* rgba(var(--background-start-rgb), 0.5), */
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb), 0.3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Pulse effect for title on landing page. */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.5;
  }
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 11s infinite ease-in-out;
}

.pulse h1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.5); /* Example shadow */
}



/* Bounce effect for button on landing page. */
@keyframes floatBounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

.float-bounce {
  animation-name: floatBounce;
  animation-duration: var(--tw-animation-duration-3000, 3000ms);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* Typing effect for description on landing page. */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.typewriter {
  overflow: hidden; /* Ensures the content is clipped */
  border-right: 0.15em solid #3CB371; /* The cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15em; /* Adjusts the spacing between letters */
  animation:
    typing 3.5s steps(40, end),
    fadeIn 0.5s ease-in 3.5s forwards; /* Runs both animations */
}
